<div class="row my-5">
  <div class="col-12">
    <div class="container custom-container">
      <div id="about">
        <h2>Hello 👋</h2>
        <p>In the past 6 months, I have been fully immersed in learning web development through a combination of self-teaching and formal training. I graduated from Le Wagon, an intensive 2-month bootcamp, where I gained hands-on experience with various web technologies and development practices. In addition to my bootcamp experience, I have been continuously learning through personal projects and online resources, deepening my understanding of web development. </p>
      </div>
    </div>
  </div>
</div>
