<div class="row my-5">
  <div class="col-12">
    <div class="container custom-container">
      <div id="about">
        <h2>Hello 👋</h2>
        <p>Before transitioning into tech, I spent 10 years studying in the US, followed by working at a marketing firm where I handled sales, customer service, and led a team. These experiences sharpened my ability to work with diverse groups, solve complex problems, and maintain a customer-focused mindset—skills that I now apply to my work as a web developer. Recently, I graduated from Le Wagon Tokyo’s full-time full-stack web development bootcamp, where I gained hands-on experience in building web applications. I am currently learning JavaScript and React, and I’m actively seeking a full-stack developer role where I can continue growing and contributing to impactful projects. I'm passionate about creating user-centered solutions and collaborating with teams to build innovative products. I also look forward to mentoring aspiring developers in the future. In my free time, I enjoy watching baseball, going to the gym, and hiking.</p>
      </div>
    </div>
  </div>
</div>
